*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;

}
.purple{
    background-color:rgb(147, 98, 193);
    margin-bottom: 10%;
    height: 200px;
}
.purple-ul{
      display:none ;
}
.main{
    border: 1px solid black;
    width: 30px;
    height:30px;
    border-radius: 2px;
    margin-top: -30px;
    margin-left: 10px;

}
.div{
    width: 22px;
    padding-left: 2px;
    background-color: rgb(255, 255 , 255);
    margin: 3px;
    height: 5px;
    
}
.logo{
    margin-left: 162px;
    margin-top: 10px;
    width: 100px;
    height: 10%;
}
.purpal-h1{
          font-size: 20px;
          color: white;
          font-weight: 500;
          margin-top: 16px;
          text-align: center;
          margin-bottom: 30px;


}
.purple-a{
    background-color: orange;
    padding: 10px;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    margin-left: 30%;
    margin-bottom: 20%

}
@media screen and(max-width:768px) and (min-width1023px) {
                        

}
@media screen and(max-width:1024px) and (min-width1440px) {
} 
